git+https://github.com/antkopp/quant-portfolio-base.git@0423ba9d77dc1c420eb354fcfc54060b31f5b333
numpy
pandas
scipy
scikit-learn
hmmlearn>=0.3.0
matplotlib
pyarrow
pyyaml
duckdb>=0.10.0
boto3>=1.34.0
supabase
python-dotenv
