git+https://github.com/antkopp/quant-portfolio-base.git@dffbc72924f5b464c29c49c979a2571a0a2895ee
numpy
pandas
scipy
scikit-learn
hmmlearn>=0.3.0
matplotlib
pyarrow
pyyaml
duckdb>=0.10.0
boto3>=1.34.0
supabase
python-dotenv
